* {
	margin: 0;
	padding: 0;
}
a, a:hover {
	text-decoration: none;
	color: white;
}
body {
	background-color: #fff;
}
.container {
	border: solid red 1px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.line {
	height: 1px;
	width: 58px;
	border: solid #f38181 1px;
	background-color: #f38181;
	margin-left: auto;
	margin-right: auto;
}

/*SECTION 1*/
#section1 {
	color: white;
	border: solid blue 1px;
	width: 100%;
	height: 1000px;
	background-image: url('images/1-bg.jpg');
	background-position: center; 
 	background-repeat: no-repeat;
	 background-size: cover;
}
#logo {
	margin: 10px;
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px;
}
#menu {
	margin: 10px;
	float: right;
	text-transform: uppercase;
}
.menuItem {
		font-family: 'Montserrat', sans-serif;
		line-height: 40px;
		font-size: 14px;
		padding-bottom: 5px;
		margin-right: 50px;
}
.menuItem a {
	color: white;
}
.menuItem:last-child {
	margin-right: 0px;
}
.menuItem:hover {
	color: #fce38a;
	border-bottom: solid 3px #fce38a;
}
.menuItem:hover > a {
	color: #fce38a;
}
#menu img {
	vertical-align: top;
}
#section1 h3 {
	clear: both;
	font-family: 'Kaushan Script', cursive;
	/*font-size: 72px;*/
		font-size: 4vw;

}
#section1 h1 {
	/*max-width: 800px;*/
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	/*font-size: 150px;*/
	font-size: 9vw;
	/*margin-left: auto;
	margin-right: auto;*/
}
#section1 .line {
	border: solid white 1px;
	background-color: white;
}

#button {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	border: solid white 3px;
	width: 153px;
	height: 34px;
	margin-left: auto;
	margin-right: auto;
	line-height: 34px;
}




.menuItem2 {
	width: 280px;
	display: inline-block;
	text-transform: uppercase;
	text-align: left;
		/*border: solid white 1px;*/
}
.line1 {
/*display: block;*/
	height: 1px;
	width: 58px;
	border: solid #f38181 1px;
	background-color: #f38181;
	float: left;
}
.line2 {
	/*display: block;*/
	height: 1px;
	width: 278px;
	border: solid white 1px;
	background-color: white;
		/*float: right;*/
}
